.header {
  background-color: $white;
  padding: 40px 94px 35px 71px;
  display: flex;
  align-items: flex-start;
  border: 1px solid $dark-gray;
}
.headerCompenents {
  display: flex;
  align-items: center;
}
.kaporCenterBannerLogo {
  width: 448.45px;
  height: 87px;
  margin-right: 279.55px;
}
.tabs {
  padding: 0 212px 0 0;
  display: flex;
  align-items: flex-start;
}
.tab3 {
  height: 51px;
  width: 228px;
  color: $saddle-brown;
  display: flex;
  align-items: center;
  text-align: center;
  @include helvetica-34-regular;
}
.relativeWrapperOne {
  position: relative;
}
.tab2 {
  height: 51px;
  width: 228px;
  color: $saddle-brown;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
  @include helvetica-34-regular;
}
.tab1 {
  height: 51px;
  width: 228px;
  color: $saddle-brown;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  right: -212px;
  top: 0;
  @include helvetica-34-regular;
}
.searchButton {
  width: 37px;
  height: 37px;
}
